html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #5a5858;
}


#barra {
  display: flex;
  background-color: #2d2b2a;
  margin-bottom: 1rem;
  text-align: white;
  justify-content: left;
}

.Titulo {
  font-family: "Courgette", cursive;
  color: #b3b1cd;
  /* Establecer el color del texto explícitamente */
  margin-bottom: 1rem;
  background-color: none;
  margin-left: 2%;
}

.Primera_imagen {
  background-color: #171716;
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 1rem;
}

.eslogan {
  font-size: 200%;
  position: absolute;
  top: 50%;
  /* Ajusta la posición verticalmente según sea necesario */
  left: 50%;
  /* Ajusta la posición horizontalmente según sea necesario */
  transform: translate(-40%, -60%);
  /* Centra el texto en el medio */
  background-color: none;
  /* Color de fondo del texto */
  padding: 20px;
  /* Espacio alrededor del texto */
  height: 20vh;
  color: white;
}

.enlaces {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.BarraIzquierda {
  font-family: "Courgette", cursive;
  color: #b3b1cd;
  /* Establecer el color del texto explícitamente */
  margin-bottom: 1rem;
  background-color: none;
  margin-left: 45%;
  font-size: 120%;
}

#Resumen {
  margin: auto;
  width: 1334px;
  height: 200px;
  background-color: #221111;
  display: flex;
  /* Usar flexbox */
  justify-content: space-between;
  /* Distribuir el espacio entre los elementos */
  align-items: center;
  /* Centrar verticalmente */


}

#SubTitulo {
  width: 300px;
  height: 200px;
  background-color: white;
  display: flex;
  /* Utilizar flexbox */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}


#texto {
  color: white;
  background-color: #221111;
  font-size: 120%;
  width: 1125px;
  height: 200px;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#Problema {
  margin: auto;
  width: 1334px;
  height: 200px;
  background-color: #332e2e;
  display: flex;
  /* Usar flexbox */
  justify-content: space-between;
  /* Distribuir el espacio entre los elementos */
  align-items: center;
  /* Centrar verticalmente */


}

#SegundoTitulo {
  color: white;
  background-color: #332e2e;
  font-size: 120%;
  width: 1125px;
  height: 200px;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#Pregunta {
  width: 300px;
  height: 200px;
  background-color: white;
  display: flex;
  /* Utilizar flexbox */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}


#Justificacion {
  margin: auto;
  width: 1334px;
  height: 200px;
  background-color: #1a0e0e;
  display: flex;
  /* Usar flexbox */
  justify-content: space-between;
  /* Distribuir el espacio entre los elementos */
  align-items: center;
  /* Centrar verticalmente */
  margin-bottom: 1rem;

}

#TercerTitulo {
  width: 300px;
  height: 200px;
  background-color: white;
  display: flex;
  /* Utilizar flexbox */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}


#Tex {
  color: white;
  background-color: #1a0e0e;
  font-size: 120%;
  width: 1125px;
  height: 200px;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Objetivos {
  margin: auto;
  width: 1334px;
  min-height: 500px;
  /* Ajusta la altura según sea necesario */
  background-color: #171716;
  display: flex;
  flex-direction: column;
  /* Alinear elementos verticalmente */
  justify-content: flex-start;
  /* Alinear al principio del contenedor */
  align-items: stretch;
  /* Alinear los elementos a lo largo del contenedor */
  margin-bottom: 1rem;
}


.TituloB {
  margin: 0;
  /* Eliminar todos los márgenes */
  margin-right: 2%;
  margin-left: 2%;
  width: 1280px;
  height: 100px;
  background-color: white;
  align-self: flex-start;
  /* Alinear al principio del contenedor */
  display: flex;
  /* Usar flexbox */
  justify-content: center;
  /* Centrar horizontalmente */
  align-items: center;
  /* Centrar verticalmente */
}

.Definidos {
  color: white;
  margin: auto;
  width: 1334px;
  height: 300px;
  background-color: #1a0e0e;
  display: flex;
  /* Usar flexbox */
  justify-content: space-between;
  /* Distribuir el espacio entre los elementos */
  align-self: flex-end;
  font-size: 120%
}

.Encuesta {
  background-color: #171716;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.Grafica {
  color: white;
  background-color: #1a0e0e;
  display: flex;
  flex-direction: column;
  /* Alinear elementos verticalmente */
  justify-content: flex-start;
  /* Alinear al principio */
  align-items: center;
  margin: 2%;
  width: 200%;
}

.Grafica h2 {
  width: 100%;
  /* Ocupa todo el ancho del contenedor */
  text-align: center;
  /* Centrar horizontalmente */
}

.Grafica img {
  width: 70%;
  /* Ocupa todo el ancho del contenedor */
  height: 50%;
  /* Mantiene la proporción de aspecto */
  margin-bottom: 1rem;
}

.servicio {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  /* Alinear elementos verticalmente */
  align-items: center;
  /* Centrar horizontalmente */
  margin-bottom: 1rem;
}

.Explicacion {
  color: white;
  background-color: #1a0e0e;
  display: flex;
  flex-direction: column;
  /* Alinear elementos verticalmente */
  justify-content: flex-start;
  /* Alinear al principio */
  align-items: center;
  margin: 2%;
  width: 95%;
  /* Ajusta según sea necesario */
  font-size: 120%;
}

.maquetados {
  background-color: #0d0d0d;
  margin-top: 1.2rem;
  display: flex;
  width: 95%;
  /* Ocupa todo el ancho del contenedor */
  height: 50%;
  margin-left: 3%;
  margin-right: 3%;
  justify-content: space-between;
  /* Distribuye el espacio entre los elementos */
}

.maquetados img {
  margin-right: 1%;
  /* Espacio entre las imágenes */
}

.footer {
  background-color: #1a0e0e;
  /* Color de fondo del footer */
  color: #dcdde5;
  /* Color del texto */
  padding: 20px;
  /* Espacio interno */
  display: flex;
  /* Usa flexbox para distribuir los bloques */
  justify-content: space-around;
  /* Distribuye los bloques uniformemente */
}

.bloque {
  flex: 1;
  /* Cada bloque ocupa el mismo espacio */
  text-align: center;
  /* Alinea el texto al centro */
  color:white
}

.bloque h3 {
  margin-top: 0;
  /* Elimina el margen superior del título */
}

.logo {
  font-size: 1.2rem;
  font-weight: 600;
  height: 5vh;
  color: blue;
  cursor: pointer;
  font-family: "Courgette", cursive;
  align-items: right;
}



.link a {
  padding: 0 1rem;
  color: var(--text-dark);
  transition: 0.3s;
}